{% extends "base.html" %} {% block title %}Saiba mais{% endblock %}

{% block content %}

    <style>
        
        .insight{
            display: none;
        }
        
    </style>

    <br />
    <h3 align="center" class="sobre" style="font-size: 45px; ">Sobre nós</h3>

    <br />

    <p style="font-size: 25px; text-align: center; margin-top:5%;"> Somos um grupo de estudantes do curso de Engenharia da Computação da Universidade de Sorocaba,
    apaixonados por tecnologia e inovação. Nosso grupo é composto por talentosos desenvolvedores,
    analistas e entusiastas de dados, que se uniram com um objetivo em comum: transformar a maneira 
    como empresas, comerciantes e prestadores de serviços entendem e melhoram a satisfação de seus 
    clientes.</p>
    

{% endblock %}